@model IList<VisitTableViewModel>
@{
    ViewData["Title"] = "Visits";
}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        DataTable Example
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Клиент</th>
                    <th>Населено място</th>
                    <th>Район</th>
                    <th>Вид клиент</th>
                    <th>Доставчик</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Клиент</th>
                    <th>Населено място</th>
                    <th>Район</th>
                    <th>Вид клиент</th>
                    <th>Доставчик</th>
                    <th>Дата</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var visit in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Customer" asp-action="CustomerDetails" asp-route-id="@visit.Client.Id">
                                @visit.Client.Name
                            </a>
                        </td>
                        <td>@visit.City</td>
                        <td>@visit.Region</td>
                        <td>@visit.ClientType.Type</td>
                        <td>@visit.RetailerStore.Name</td>
                        <td>@visit.DateOfVisit</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>