@model IList<FutureTaskViewModel>
@{
    ViewData["Title"] = "Tasks";
}

<hr />
<h2 class="text-center">Задачи</h2>
<hr />
<a class="d-grid gap-2 col-6 mx-auto fc-customButton-create" asp-controller="Task" asp-action="AddTask">
    <div class="btn btn-primary">Добави нова задача<i value="Добави нова задача"></i></div>
</a>
<br />
<div style="margin:auto; width:fit-content">
    <form asp-controller="Task" asp-action="Index">
        <label for="retalerStores">Филтрирай по магазин</label>
        <select id="selectRetailerStores" name="selectedStores" multiple="multiple">
            @* <option value="">Select Retailer Store</option> *@
            @foreach (var storeFilter in ViewBag.StoreFilters)
            {
                <option value="@storeFilter.Value">@storeFilter.Text</option>
            }
        </select>
        <button type="submit">Filter</button>
    </form>
</div>
<hr />


<section class="gradient-custom-2">
    @foreach (var task in Model)
    {
        <div class="mx-auto card text-center" style="width:1000px">
            <div class="card-header">
                @task.Client.Name
            </div>
            <div class="pt-3 bg-light">
                <h6><i class="far fa-clock"></i> @task.DateAndTime - @task.ApplicationUser.UserFullName</h6>
                <hr />
            </div>
            <div class="pt-3 bg-light" style="padding-top: 0rem !important">
                <h6> Град - @task.City || Регион - @task.Region</h6>
                <hr />
            </div>
            <div class="card-body bg-light" style="padding-top: 0rem !important">
                <h5 class="card-title">Описание</h5>
                <p class="card-text">@task.TaskDescription</p>
                <hr />
                @if (task.Iscompleted == false)
                {
                    <form id="completeTaskForm" method="post" action="@Url.Action("CompleteTask", "Task")">
                        <input type="hidden" name="taskId" value="@task.Id" />
                        <button id="completeTaskButton" class="btn btn-outline-secondary" type="button">Завърши задача</button>
                    </form>
                }
                else
                {
                    <button type="button" class="btn btn-success" disabled>Задачата е завършена</button>
                }
            </div>
        </div>
        <br />
    }
</section>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    <script>
        document.getElementById("completeTaskButton").addEventListener("click", function () {
            document.getElementById("completeTaskForm").submit();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#selectRetailerStores').select2();
        });
    </script>
}
